body {
  margin: 10px;
  text-align: auto;
}
#title {
  text-align: center;
}
.main {
  height: 100%;
}
.hero-image {
  height: 100px;
}

.character-option {
  /* display: flex; */
  /* justify-content: space-between; */
  /* height: 200px; */
  width: 100%;
  margin-bottom: 20px;
}

#characterSelector {
  height: 150px;
  /* display: flex; */
  margin: 0;
  /* justify-content: left; */
}

/* .row {
  display: flex;
  flex-direction: row;
} */

.col-8 {
  display: flex;
}
.hero-holder {
  height: 160px;
  border: solid 2px black;
  width: 13%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.enemy {
  border: solid 5px red;
}

.pickedCharacter {
  border: solid 5px lightgreen;
}
.enemy-container {
  text-align: center;
  /* display: flex;
  justify-content: left; */
}

.pickedCharacter {
  text-align: center;
  /* display: flex;
  justify-content: left; */
}
